<div ng-if="$ctrl.route.vars.navbar">
  <md-toolbar class="md-hue-2" md-scroll-shrink role="navigation">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Settings" ng-click="$ctrl.toggle()">
        <i class="fa fa-bars fa-lg"></i>
      </md-button>
      <h2 class="md-truncate" flex>
        <a ng-if="$ctrl.shouldDisplay('brand')" ng-href="{{$ctrl.site.url}}" hide-xs>
          <img ng-if="$ctrl.site.brand.src"
            ng-src="{{$ctrl.site.brand.src}}.svg"
            width="{{$ctrl.site.brand.width}}"
            height="{{$ctrl.site.brand.height}}"
            alt="{{$ctrl.site.brand.alt}}"
            fallback-src="{{$ctrl.site.brand.src}}.png"
            style="vertical-align: middle">
          <span hide-xs hide-sm>{{$ctrl.site.title}}</span>
        </a>
        <a ng-if="$ctrl.shouldDisplay('tenant') && $ctrl.isDefined('tenant')"
          ng-href="{{$ctrl.route.vars.navbar.tenant.url}}" hide-xs>
          <img ng-if="$ctrl.route.vars.navbar.tenant.brand.src"
            ng-src="{{$ctrl.route.vars.navbar.tenant.brand.src}}"
            width="{{$ctrl.route.vars.navbar.tenant.brand.width}}"
            height="{{$ctrl.route.vars.navbar.tenant.brand.height}}"
            alt="{{$ctrl.route.vars.navbar.tenant.brand.alt}}"
            style="vertical-align: middle">
          <span ng-if="!$ctrl.route.vars.navbar.tenant.brand.src">{{$ctrl.route.vars.navbar.tenant.title}}</span>
        </a>
        <span hide-xs ng-if="$ctrl.shouldDisplay('brand') || ($ctrl.shouldDisplay('tenant') && $ctrl.isDefined('tenant'))">|</span>
        <span>{{$ctrl.route.vars.title}}</span>
      </h2>
      <div ng-if="$ctrl.shouldDisplay('toolbar')">
        <div ng-repeat="template in $ctrl.templates">
          <ng-include src="template"></ng-include>
        </div>
        <div br-slot="br-navbar-toolbar">
          <div class="navbar-right" style="margin-right: 0px">
            <div br-slot="br-navbar-tool"></div>
          </div>
        </div>
        <div class="navbar-right">
          <div br-slot="br-navbar-button-toolbar" class="btn-toolbar"></div>
        </div>
      </div>
    </div>
  </md-toolbar>
  <br-sidenav></br-sidenav>
</div>
