<div>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <div br-slot="br-navbar-header">
          <div br-slot="br-navbar-header-inner"></div>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#br-navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img ng-if="$ctrl.brand.src"
              ng-src="{{$ctrl.brand.src}}"
              width="{{$ctrl.brand.width}}"
              height="{{$ctrl.brand.height}}"
              alt="{{$ctrl.brand.alt}}" />
            <span ng-if="!$ctrl.brand.src">{{$ctrl.siteTitle}}</span>
          </a>
        </div>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="br-navbar-collapse">
        <div br-slot="br-navbar-body">
          <div br-slot="br-navbar-menu">
            <!-- nav menu -->
            <ul class="nav navbar-nav">
              <li ng-repeat="menu in $ctrl.service.displayOrder"
                ng-class="{active: route.vars.title == $ctrl.service.menus[menu].pageTitle, dropdown: $ctrl.service.menus[menu].items}">
                <a ng-if="$ctrl.service.menus[menu].visible && !$ctrl.service.menus[menu].items"
                  href="{{$ctrl.service.menus[menu].url}}">
                  <i class="{{$ctrl.service.menus[menu].icon}}"></i> {{$ctrl.service.menus[menu].label}}</a>
                <a ng-if="$ctrl.service.menus[menu].visible && $ctrl.service.menus[menu].items"
                  href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="{{$ctrl.service.menus[menu].icon}}"></i> {{$ctrl.service.menus[menu].label}}
                  <b class="caret"></b>
                </a>
                <ul ng-if="$ctrl.service.menus[menu].visible && $ctrl.service.menus[menu].items" class="dropdown-menu">
                  <li ng-repeat="item in $ctrl.service.menus[menu].items"
                    ng-class="{active: route.vars.title == item.pageTitle, divider: item.divider}">
                    <a ng-if="!item.divider" href="{{item.url}}"><i class="{{item.icon}}"></i> {{item.label}}</a>
                  </li>
                </ul>
              </li>
            </ul><!-- /nav menu -->
          </div>
        </div>
        <div ng-repeat="template in $ctrl.templates">
          <ng-include src="template"></ng-include>
        </div>
        <div br-slot="br-navbar-toolbar">
          <div class="navbar-right">
            <div br-slot="br-navbar-tool"></div>
          </div>
        </div>
        <div class="navbar-right">
          <div br-slot="br-navbar-button-toolbar" class="btn-toolbar"></div>
        </div>
      </div>
    </div>
  </nav>
  <div br-alerts br-fixed="true"></div>
</div>
