<md-sidenav class="md-sidenav-left" md-component-id="sidenav" layout="column" flex>
  <md-content flex>
    <md-toolbar class="md-hue-2" role="navigation">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="$ctrl.toggleMenu()">
          <i class="fa fa-bars fa-lg"></i>
        </md-button>
        <h2 class="md-truncate" flex>
          <a ng-href="{{$ctrl.site.url}}">
            <img ng-if="$ctrl.site.brand.src"
              ng-src="{{$ctrl.site.brand.src}}"
              width="{{$ctrl.site.brand.width}}"
              height="{{$ctrl.site.brand.height}}"
              alt="{{$ctrl.site.brand.alt}}">
            <span>{{$ctrl.site.title}}</span>
          </a>
        </h2>
      </div>
    </md-toolbar>
    <div br-slot="br-sidenav-list"></div>
  </md-content>
</md-sidenav>
